# check if the detection whether a script is executed inside salome is working
name: Test running inside salome detection

on:
  pull_request:
    paths:
    - '.github/workflows/check_salome_execution.yml'
    - '.github/assert_run_in_salome.py'

  schedule:
    - cron: '0 3 * * TUE' # new docker is built at 2am every Tuesday, hence running this one hour later


jobs:

  testing-with-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6 # same as used in Salome 9

    - name: assert run not in salome
      run:  |
        cd .github
        python assert_run_in_salome.py 0


  check-salome-execution-detection:
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        salome-version: [9-3, 9-4]

    runs-on: ubuntu-18.04

    container:
      image: philbucher/ubuntu-18-04-salome-${{ matrix.salome-version }}:latest

    steps:
    - uses: actions/checkout@v1

    - name: assert run in salome
      # given as string bcs some keywords are also recognized by yaml
      # "--shutdown-servers=1" is not used bcs container is shut down right after
      run: "/root/salome_dir/salome -t .github/assert_run_in_salome.py args:1"
