name: Plugin CI

on:
  pull_request:
    branches:
      - master

  schedule:
    - cron: '0 3 * * *' # new docker image is built at 2am every Tuesday, hence running this one hour later


jobs:

  testing-with-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6 # same as used in Salome 9

    - name: Running tests
      run: |
        cd tests
        python run_all_tests.py


  testing-with-kratos:
    strategy:
      fail-fast: false
    env:
      KRATOS_AVAILABLE: 1

    runs-on: ubuntu-18.04

    container:
      image: kratosmultiphysics/kratos-image-ubuntu-bionic:latest

    steps:
    - uses: actions/checkout@v2

    - name: Running tests with Kratos
      run: |
        cd tests
        python3 run_all_tests.py


  testing-in-salome:
    strategy:
      fail-fast: false
      matrix:
        salome-version: [9-3, 9-4]

    runs-on: ubuntu-18.04

    container:
      image: philbucher/ubuntu-18-04-salome-${{ matrix.salome-version }}:latest

    steps:
    - uses: actions/checkout@v1

    - name: Running tests in salome version ${{ matrix.salome-version }}
      # "--shutdown-servers=1" is not used bcs container is shut down right after
      run: |
        cd tests
        python3 ../execute_in_salome.py /root/salome_dir/salome run_all_tests.py
