name: Plugin CI

on:
  pull_request:
    branches:
      - master

  schedule:
    - cron: '0 3 * * *' # new docker image is built at 2am every Tuesday, hence running this one hour later


jobs:

  cancel-redundant-builds: # needed until github implements this
    runs-on: ubuntu-18.04
    steps:
    - uses: rokroskar/workflow-run-cleanup-action@v0.2.2
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"


  testing-with-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        python-version: [3.5, 3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }} # Salome 9 uses Python 3.6

    - name: Install PyQt5
      run: pip install pyqt5

    - name: Running tests
      env:
        PYQT_AVAILABLE: 1
        QT_QPA_PLATFORM: offscreen
      run: |
        cd tests
        python run_all_tests.py


  testing-with-kratos:
    strategy:
      fail-fast: false

    runs-on: ubuntu-18.04

    container:
      image: kratosmultiphysics/kratos-image-ubuntu-bionic:latest

    steps:
    - uses: actions/checkout@v2

    - name: Running tests with Kratos
      env:
        KRATOS_AVAILABLE: 1
      run: |
        cd tests
        python3 run_all_tests.py


  testing-in-salome:
    strategy:
      fail-fast: false
      matrix:
        salome-version: [9-3, 9-4]

    runs-on: ubuntu-18.04

    container:
      image: philbucher/ubuntu-18-04-salome-${{ matrix.salome-version }}:latest

    steps:
    - uses: actions/checkout@v1

    - name: Running tests in salome version ${{ matrix.salome-version }}
      # "--shutdown-servers=1" is not used bcs container is shut down right after
      env:
        PYQT_AVAILABLE: 1
        QT_QPA_PLATFORM: linuxfb
        LANG: C.UTF-8 # see https://stackoverflow.com/a/51302441
      run: |
        cd tests
        python3 ../execute_in_salome.py /root/salome_dir/salome run_all_tests.py
